# These and other macros are documented in ../droid-configs-device/droid-configs.inc

%define device @DEVICE@
%define vendor @VENDOR@

%define vendor_pretty @VENDOR_PRETTY@
%define device_pretty @DEVICE_PRETTY@

%define dcd_path ./

# We assume most devices will
%define have_modem 1

%include droid-configs-device/droid-configs.inc

