# These and other macros are documented in ../droid-configs-device/droid-configs.inc

%define device @DEVICE@
%define vendor @VENDOR@

%define vendor_pretty @VENDOR_PRETTY@
%define device_pretty @DEVICE_PRETTY@

%define dcd_path ./

# Adjust this for your device
%define pixel_ratio 1.0

%include droid-configs-device/droid-configs.inc

