[Unit]
Description=Droid bootctl
After=start-user-session.service

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/bin/droid/droid-bootctl.sh

[Install]
WantedBy=graphical.target actdead.target
