# Copyright (C) 2013 Jolla Oy
#
# Prepare functionfs for adbd 
 
[Unit]
Description=functionfs setup for adbd

[Service]
Type=notify
RemainAfterExit=yes
ExecStart=/usr/sbin/adbd-functionfs.sh
ExecStopPost=/bin/umount adb
ExecStopPost=/bin/umount adb

[Install]
WantedBy=graphical.target

