[Unit]
Description=wifisetup
After=droid-hal-init.service
Before=connman.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "echo 1 > /sys/kernel/boot_wlan/boot_wlan"

[Install]
WantedBy=network.target
