[Unit]
Description=Fingerprint Daemon preinit
DefaultDependencies=no
After=droid-hal-init.service
Before=sailfish-fpd.service
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/system/bin/wait_for_keymaster
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
