[Unit]
Description=droid-late-start
After=droid-hal-init.service
Before=network.target start-user-session@USER.service bluetooth.service ofono.service sensorfwd.service
Conflicts=shutdown.target

[Service]
ExecStart=/usr/bin/setprop droid.late_start trigger_late_start

[Install]
WantedBy=graphical.target

